<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/Pls_article.css">
	<title></title>
</head>
<body>

<div class="container">
<h3>修改文章内容</h3>
	<%- include("header") %>
		<form method="post" action="/Pls_article/at_update_save">
			<input type="hidden" name="d_id" value="<%= up._id %>">  
			<!-- 隐藏的input标签，用来存放文章的id  通过id查找匹配 -->
			
			<div class="form-group">
				<div class="col-md-1">
					<img src="/img/<%= locals.user.file %>" style="width: 60px;">
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-10 col_active">
					<label for="title">标题：</label>
					<input type="text" name="title" id="title" placeholder="标题" class="form-control" value="<%= up.title %>">
				
					<label for="content">内容：</label>
					<textarea class="form-control" rows="15" name="content"><%= up.content %></textarea>
					<input type="submit" class="btn btn-success" style="margin-top: 10px;" value="发布修改">
				</div>
			</div>

		</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript">
  $(".nav li").eq(1).addClass("active");
  var a=$(".nav li").eq(1).find("a").text("修改文章");   //修改文章时，把导航的“发表文章”几个字改为“修改文章”
</script>
</body>
</html>